*{
    font-family: 'Raleway', sans-serif;

}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btnContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
   
}
body{
   display: flex;
   flex-direction: column;
}

.buttons{
    width: 150px;
    height: 150px;
    transition: all 200ms ease-in;
    transform: scale(1);
    color: rgba(0, 0, 0, 0);
}
img{
    width: 150px;
    height: 150px;  
}

.buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

  .txtResult{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
  }

  .scoreTxt{
    text-align: center;
    font-size: 30px;
  }

  .titleCont{
    text-align: center;
    font-weight: 100;
    font-size: 100px;
    padding: 50px;
  }

.htBtn{
    width: 350px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    
}
 